$wf-blue: rgb(40,156,244)

.Header
  background-color: white
  height: 50px
  width: 100%
  display: flex
  align-items: center

  .MenuTopBar
    height: 35px
    width: 70%
    border: 1px solid $wf-blue
    border-radius: 5px

  .back, .profile
    color: $wf-blue

  .back
    width: 15%
    font-size: 40px

  .profile
    width: 15%
    font-size: 20px
