$wf-blue: rgb(40,156,244)

.Header
  background-color: white
  height: 50px
  width: 100%
  display: flex
  align-items: center

  .MenuTopBar
    height: 35px
    width: 70%
    border: 1px solid $wf-blue
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: center

    .MenuTopBarButton
      height: 35px
      flex-grow: 1
      color: $wf-blue
      border-radius: 5px
      display: flex
      align-items: center
      justify-content: center
      &.active
        background-color: $wf-blue
        color: white


  .back, .profile
    color: $wf-blue

  .back
    width: 15%
    font-size: 40px

  .profile
    width: 15%
    font-size: 20px
